@import url('https://fonts.googleapis.com/css?family=Audiowide|Noto+Serif|Atomic+Age');

body{
  text-align: center;
  font-size: 45px;
  background-color: #c0dbb6;
  font-family:'Atomic Age';
}
h1{
  color: #5c4966;
  font-family:'Audiowide';
}
ol{
  text-size: 20px;
  color:#2b3a77;
  font-family:'Noto Serif';
}
